@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page{background:#E0C9A6;}
.page.page--cover{display:flex !important; min-height:600px; align-self:center; justify-content:center;  text-align:center; color:#e0c9a6; font-size:1.3rem;     font-family: 'Dancing Script', cursive; background-image:url('./assets/img/book-cover.jpg'); background-size:cover; margin: 0 auto;}
h1{align-self:center; padding-left:40px;}
h2{padding:0 0 10px 0;border-bottom:4px solid #902225;}
.page.page--table{background-image: url('./assets/img/background.jpg');}
.page__inner{ position:relative; height:100%; padding:10px;  font-size:1rem; font-weight:600;      font-family: 'Dancing Script', cursive; font-family: 'Nunito', sans-serif;}
.book-title{}
.new-line{display:block;}
.--left{
    border-right: 0;
box-shadow: inset -7px 0 30px -7px rgba(0,0,0,.4);
}
.--right{
  box-shadow: inset 7px 0 30px -7px rgba(0,0,0,.4);
}
.index-listing{
  margin:0 0 10-0px 0;
  list-style:none;
}
.index-item{
  margin:0 0 20px 0;
}
blockquote{
  text-align:center;
  color:#902225;
  font-size:1.5rem;
}
.divider{
  color:#902225;
  margin-top:80px;
  text-align:center;
  border-top: 3px solid #902225;
  border-bottom: 3px solid #902225;
}

.pagination{
  position:absolute;
}
.--left .pagination{
  display:flex;
  justify-content: start;
  bottom:20px;
  left:20px;
}
.--right .pagination{
  display:flex;
  justify-content: end;
 
  bottom:20px;
  right:20px;
}
