@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page{background:#E0C9A6;}
.page.page--cover{display:flex !important; min-height:600px; align-self:center; justify-content:center;  text-align:center; color:#e0c9a6; font-size:1.3rem;     font-family: 'Dancing Script', cursive; background-image:url('./assets/img/book-cover.jpg'); background-size:cover; margin: 0 auto;}
h1{align-self:center; padding-left:40px;}
.page.page--table{background-image: url('./assets/img/background.jpg');}
.page__inner{ padding:10px;  font-size:1rem; font-weight:600;      font-family: 'Dancing Script', cursive; font-family: 'Nunito', sans-serif;}
.book-title{}
.new-line{display:block;}
.--left{
    border-right: 0;
box-shadow: inset -7px 0 30px -7px rgba(0,0,0,.4);
}
.--right{
  box-shadow: inset 7px 0 30px -7px rgba(0,0,0,.4);
}
blockquote{
  text-align:center;
  color:#40211e;
  font-size:1.5rem;
}